/* General Styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: url('/Picture/loginbg.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Container */
.login-container {
  width: 30%;
  max-width: 400px;
  min-width: 300px;
  padding: 20px;
  background: rgba(4, 39, 10, 0.521);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  box-shadow: 0 4px 50px rgba(255, 255, 255, 0.7); /* Proper shadow syntax */
  text-align: center;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5); /* Proper border declaration */
}

.loginButton :disabled {
  color: gray;
}

/* Logo Styling */
.logo {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
}

/* Form Inputs */
input[type=email], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid white;
  border-radius: 15px;
  background: transparent;
  color: white;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

input[type=email]:focus, input[type=password]:focus {
  background: white;
  color: black; /* Ensure text is visible on white background */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}


input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* Labels */
label {
  display: block;
  text-align: left; /* Align labels to the left */
  margin-bottom: 5px;
  font-size: 14px;
  color: white;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px 0;
  margin: 10px 0;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.05); /* Slightly increase the size */
  transition: transform 0.3s ease; /* Smooth transition */
}

button[type="submit"] {
  background-color: #04AA6D;
  color: white;
}

button.clearbtn {
  background-color: #f44336;
  color: white;
}

/* Headings and Text */
h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  float: center;
  text-align: center;

}

h2 {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: lighter;
}

p {
  font-size: 14px;
  color: white;
}

.error-message {
  color: rgb(235, 224, 224);
  margin-top: 10px;
  font-size: 12px;
  text-shadow: 1px 1px black;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  .login-container {
    width: 90%;
  }

  button {
    font-size: 14px;
  }
}
