/* General styles */
body {
    font-family: 'Varela Round', sans-serif;
}

/* Table styles */
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    background: #2b4b2f;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}


tr {
    border-bottom: 1px solid #525252;
    margin-bottom: 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

/* Header styling */
.header {
    background-color: #2b4b2f;
    color: white;
    margin-bottom: 3px;
    border-bottom: 1px solid #1f3622;
}

/* Current user row styling */
table.table-striped.table-hover tbody tr.current-user {
    background-color: #508858;
    font-size: 15.5px;    
    color: white;
}

/* Current user row styling */
table.table-striped.table-hover tbody tr.current-user i {
    color: white !important;
}

/* Hover effect for user rows */
table.table-striped.table-hover tbody tr.user-row:hover {
    background-color: #9ad38f;
    transition: background-color 0.3s ease-in-out;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.settings {
    color: #2196F3;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    z-index: 3;
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/* General styling for the modal */
.modal .modal-dialog {
    max-width: 70% !important;
    margin: auto;
}

.modal .modal-header{
    background: #2b4b2f;
    color: #fff;
    padding: 15px 20px;
    border-bottom: none;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

.modal .modal-header button{
    color: #fff;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}
.modal .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.modal .form-row .form-group {
    flex: 1;
    min-width: 150px; /* Ensure responsiveness */
}

#form-group-password-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.password-container {
    position: relative;
    flex: 1;
    min-width: 150px; /* Ensure responsiveness */
}
.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 30px;
}
.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.password-container .toggle-password img {
    width: 20px;
    height: 20px;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Back button styling */
.backBtn {
    margin: 20px 0;
    margin-left: 0px;
    width: 100%;
    text-align: left;
}

.backBtn a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #2b4b2f; /* Dark green background */
    border: 2px solid #2b4b2f; /* Dark green border */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.backBtn:hover {
    /* clear formatting */

    /* scale up */
    transform: scale(1.1);
    width: 250px;
    margin: 20px 0;
    margin-left: 0px;
    transition: ease 0.5s;
}

.backBtn:hover a span.back {
    display: inline-block;
}

.backBtn a span.back {
    display: none;
}



.backBtn a:hover {
    background-color: #1f3622; /* Darker green on hover */
    color: white;
    text-decoration: none;
    transform: scale(1.1); /* Slight scaling effect */
}

.eyeIcon{
    margin-top: 27px;
}


.header {
    background-color: #2b4b2f;
    color: white;
    margin-bottom: 3px;
    border-bottom: #1f3622;
}

.asterisk{
    color: red;
    font-size: 20px;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .modal .modal-dialog {
        max-width: 85%; /* On smaller screens, occupy 90% width */
    }
}